@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* styles/globals.css */

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  overscroll-behavior: smooth;
  scroll-behavior: smooth;
  background-color: #0a101e;
  color: #ffffff;
}

body {
  font-family: 'Abeezee', sans-serif;
  margin: 0;
}

.sidebar {
  background-color: #1a2133;
  color: white;
  padding-top: 30px;
}

.main-content {
  padding-left: 250px; /* Laisser de la place pour la sidebar */
  padding-top: 20px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
}

nav ul li a:hover {
  background-color: #fec544;
  color: #0a101e;
}
html {
  scroll-behavior: smooth;
}
